In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [6]:
##Drop Cabin Col:-
df.drop('Cabin',axis=1,inplace=True)

In [7]:
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [8]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [9]:
gender = pd.get_dummies(df['Sex'],drop_first=True)
df['Gender'] = gender

In [10]:
df.drop(['Name','Sex','Ticket','Embarked'],axis=1,inplace=True)

In [11]:
X= df.drop(['Survived'],axis=1)
X

     PassengerId  Pclass        Age  SibSp  Parch     Fare  Gender
0              1       3  22.000000      1      0   7.2500       1
1              2       1  38.000000      1      0  71.2833       0
2              3       3  26.000000      0      0   7.9250       0
3              4       1  35.000000      1      0  53.1000       0
4              5       3  35.000000      0      0   8.0500       1
..           ...     ...        ...    ...    ...      ...     ...
886          887       2  27.000000      0      0  13.0000       1
887          888       1  19.000000      0      0  30.0000       0
888          889       3  29.699118      1      2  23.4500       0
889          890       1  26.000000      0      0  30.0000       1
890          891       3  32.000000      0      0   7.7500       1

[891 rows x 7 columns]

In [12]:
y=df['Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
lg = LogisticRegression()

In [15]:
from sklearn.model_selection import KFold, cross_val_score

In [16]:
kf = KFold(n_splits=5,shuffle=True,random_state=20)

In [17]:
cross_val_score = cross_val_score(lg,X,y,cv=kf)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [18]:
cross_val_score

array([0.81564246, 0.71910112, 0.78651685, 0.76966292, 0.80898876])

In [19]:
cross_val_score*100

array([81.56424581, 71.91011236, 78.65168539, 76.96629213, 80.8988764 ])

In [20]:
print("Cross Validation Scores: ", cross_val_score)
print("Average CV Score: ", cross_val_score.mean())
print("Number of CV Scores used in Average: ", len(cross_val_score))

Cross Validation Scores:  [0.81564246 0.71910112 0.78651685 0.76966292 0.80898876]
Average CV Score:  0.7799824242043816
Number of CV Scores used in Average:  5